#form_div {width: 500px; margin: 50px auto; padding: 10px; text-align: center;}
#form_div h2 {margin-bottom: 10px;}
.mInput {width: 480px; font-size: 16px; color: #555; margin-bottom: 10px;}
.btns {min-height: 18px;}
.btns a {font-size: 14px;}

h1 {margin-top: 20px;}