#_SMALL_NAV_BAR li a.selected {background-color: #D8DFEA; color: #333;}
#_SMALL_NAV_BAR li span._licznik {-moz-border-radius:5px 5px 5px 5px; background-color:#EEE; color:#333333; font-weight:bold; padding:0 3px;}
#_SMALL_NAV_BAR li a.selected span._licznik {background-color: #777; color: #FFF;}
#_LICZNIKI_DIV {position: absolute; background-color: #23508C; padding: 5px; -moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px; padding-top: 4px; width: 350px; z-index: 100; box-shadow: 0 0 10px #555;}
#_LICZNIKI_UL {max-height: 450px; overflow: auto;}
#_LICZNIKI_UL li {width: 100%;}
#_LICZNIKI_UL li:first-child a {-moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px;}
#_LICZNIKI_UL li:last-child a {-moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px;}
#_LICZNIKI_UL li a {color:#333; display:block; font-weight:normal; height:inherit; padding: 5px; background-color: #FFF; margin-top: 1px;}
#_LICZNIKI_UL li a:hover {color: #3B5998; background-color: #EEE;}
#_LICZNIKI_UL li a span.label {display: block; width: 250px; float: left;}
#_LICZNIKI_UL li a span._licznik {background-color: inherit; color: inherit; text-align: right; display: block; font-weight: bold;}
#_LICZNIKI_TOGGLE span {font-size: 12px; color: #CCC;}