









.ep_Object_cont_div {border-top: 1px solid #CCC;}
._obj_cont_div ._obj_side_div_a {}




.page_ep_Object .header {margin-top: 5px;}
.s_breadcrumb li {padding: 0;}
.object_title_div {overflow: auto; padding: 5px 20px;}
.object_title_div .avatar_div {float: left;}
.object_title_div .content_div {}
.object_title_div .content_div .inner {margin-left: 10px;}
.object_title_div .content_div h1 {padding: 0; margin: 0 0 10px;}

.object_title_div .content_div .subtitle {padding: 3px 10px; font-size: 12px;}






.s_filters_cont {
	background-color: #F3F3F3;
  padding: 0;
  float: left;
  width: 250px;
  margin: 0;
}
.s_browser_cont {
	background-color: #FFFFFF;
  float: none;
  min-height: 547px;
  margin-left: 260px;
  width: inherit;
  padding: 0;
  margin-top: 10px;
  box-shadow: 0 0 3px #AAA;
  -webkit-box-shadow: 0 0 3px #AAA;
  -moz-box-shadow: 0 0 3px #AAA;
  -o-box-shadow: 0 0 3px #AAA;
  border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
}
.s_browser_k_ul .s_text_input {width: 220px;}

.s_browser_side_div h2 {font-size: 13px; font-weight: bold; margin: 0;}
.s_browser_results_ul .ep_Object {box-shadow: none;}
.s_browser_results_ul li.ep_Object {border-style: none none solid; background-color: inherit !important;}


.s_browser_bar {padding: 0 !important; margin-bottom: 0 !important;}
.s_browser_order {margin-top: 13px; margin-bottom: 0;}
.s_browser_order .sort_label {float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px;}
    
.s_browser_pagination.upper {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px !important;
    padding-top: 5px !important;
}

.s_main_content_container .s_column_main_right.single {background-color: #F3F3F3;}



.dataset_btns_ul {overflow: auto; padding: 15px 11px;}
.dataset_btns_ul li {float: left; margin: 3px;}
.dataset_btns_ul li input.mBtn {font-size: 11px; font-weight: bold; padding: 3px 12px 1px;}

.DatasetLBFeature.rss .title {padding: 20px; text-align: center; margin: 5px 0;}
.DatasetLBFeature.api .title {padding: 10px; text-align: center; margin: 5px 0;}
.DatasetLBFeature .link {text-align: center; margin-top: 80px;}
.DatasetLBFeature .input_cont {text-align: center; margin: 5px 0;}
.DatasetLBFeature .input_cont input {width: 400px; border: 1px solid #CCCCCC;
    font-size: 13px;
    margin: 10px;
    padding: 5px; color: #666;}
    
    
.DatasetLBFeature .desc_div {margin-top: 25px;}
.DatasetLBFeature .desc_div.first {margin: 0;}
.DatasetLBFeature .desc_div .title {margin: 0;}
.DatasetLBFeature .desc_div .param {font-weight: bold; text-align: center;}